<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Guest Book</title>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
</head>
<body>

<div class="container">
    <h2>Form Student</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal" th:object="${guest}"
                  th:action="@{/create}" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Id:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{id}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Nama:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{name}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Birth of Date: dd/MM/yy</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{birthofdate}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Address:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{address}">
                </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Save">
                    <a class="btn btn-danger" th:href="@{/}" role="button">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>